.nav-shadow{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shadow{
    box-shadow: 3px 3px 5px lightgray, -3px -3px 5px lightgray;
}

.krutishil-logo{
    max-width:60%;
    height: auto;
}

.krutishil-icon{
    max-width:8%;
    height: auto;
}

